.banner {
    background-size: cover;
    height: 560px;
    color: white;
}

.content {
    
    padding-top: 170px;
    height: 190px;
    padding-left: 10px;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 0.3rem;
}

.btn {
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 1rem;
}

.btn:hover {
    color: black;
    background: #e6e6e6;
}

.description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    height: 80px;
    max-width: 360px;
}

.fade-bottom {
    height: 23.5rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);
}